[Unit]
Description=component based SDN controller

[Service]
Type=simple
ExecStart=/usr/bin/ryu run --config-file /etc/ryu/ryu.conf
GuessMainPID=True
#PIDFile=/var/run/ryu.pid

[Install]
WantedBy=multi-user.target


